
.flex-item-center{
  display: flex; align-items: center;
}
.padding-80{
  padding: 0 80px;
}

.login-acct{
  font-size: 16px;
  line-height: 18px;
  color:#404041;
  font-family: Gotham-Medium;
}
.input-box-css{
  height: 45px;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
  font-size: 16px;

}

@media (max-width: 767px) {

 .tatalogo{
   display: none;
 }
 .nav-item{
   margin-top: 1em;
 }
 .padding-80{
  padding: 0 ;
 }
}
